@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100&@700&display=swap');



/* inicio stylo de about*/
*{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

body {   
    background: rgb(255, 126, 33);
    background: linear-gradient(90deg, rgba(255, 126, 33, 1) 0%, rgba(27, 27, 27, 1) 100%, rgba(240, 240, 240, 1) 100%);
 }

 #logo {
    width: 80%;
    height: 80%;
}

.cardsAbout{    
    padding: 1.3em;
    max-width: 80em;
    margin:auto;
    background: linear-gradient(90deg, rgb(128, 59, 17) 0%, rgba(34,34,34,1) 100%, rgba(0,0,0,0.989233193277311) 100%);
    border-style: solid;
    border-radius: 1rem ;
    border-width: thin;
    border-color: white;
}

div{
 color: white;
}

/* fin de estylos de about*/


/* inicio de estylos de navbar*/
 
nav {
  background-color: black;
  overflow: hidden;
}



nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

nav form {
  display: flex;
  align-items: end;
  margin-top: 8px;
  margin-right: 16px;
  justify-content: center;
}

nav forma {
  display: flex;
  margin-top: 8px;
  margin-right: 16px;
}


nav input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

nav button[type="submit"] {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #ddd;
  margin-left: -5px;
}

nav button[type="submit"]:hover {
  background-color: #bbb;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.logonav {
  height: 70px;
  border-radius: 10px 10px 10px;
}

.loginnav {
  border-radius: 80%;
  height: 40px;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 2px;
  margin-top: 12px;
}

.susnav {
  border-radius: 80%;
  height: 40px;
  color: black;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}


  /* final de estylos de navbar*/


  /* inicio estylos footer*/


  footer {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    background-color: rgba(27, 27, 27, 1);
    margin: 0;
  
  }
  
  .logoFooter {
    top: 0;
    width: 40%;
    height: 50%;
    border-radius: 10%;
  
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconfooter {
    margin-right: 20px;
  }


  /* fin estylos footer*/