
.table .editar{
  background-color: #0d6efd;
}

.table .eliminar{
  margin: 5px;
  background-color: red;
  border-color: red;
  
  }

.table .eliminar:hover{
  
    background-color: red;
    border-color: red;
    
    }