
.table .editar{
  background-color: #0d6efd;
}

.table .eliminar{
  margin: 5px;
  background-color: red;
  border-color: red;
  
  }

.table .eliminar:hover{
  
    background-color: red;
    border-color: red;
    
    }
    
.producto-imagen {
      max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
      height: auto; /* Mantener la proporción de aspecto */
    }