* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.body {
  border-color: black;
}


/* inicio cards */
.card-body .btn-success {
  border-radius: 5px;
  background-color: #263e3e;
  border-color: none;

}

.card-body .btn-success:hover {
  background-color: #ff8b66;
  color: #263e3e;
  font-weight: 600;
  border: none;
  font-size: 15px;
}

.card .card-title {
  font-weight: 550;
  font-size: 17px;
  color: rgba(255, 126, 33, 1);
  letter-spacing: 1px;
}

.cards-hovC:hover {
  transition: 1.5s;
  transform: scale(1.05);
}


.precioOrig {
  padding-left: 25%;
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #263e3e;
}

.tituloCat {
  justify-content: center;
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;


}

/* fin cards*/

/* inicio estylos principal*/


.colorFondo {
  background-color: #ededed;
}

.categoriFil a {
  text-decoration: none;
  color: black;
}

.cuadroPre {
  display: flex;
  margin-top: 5%
}

.min {
  font-weight: 600;
  border: none;
  font-size: 15px;
  display: flex;
  width: 90%;
}

/* final estylos principal*/



/* inicio estylo navbar*/


nav {
  background-color: black;
  overflow: hidden;
}


nav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav form {
  display: flex;
  align-items: end;
  margin-top: 8px;
  margin-right: 16px;
  justify-content: center;
}

nav form {
  display: flex;
  align-items: end;
  margin-top: 8px;
  margin-right: 16px;
  justify-content: center;
}
nav forma {
  display: flex;
  margin-top: 8px;
  margin-right: 16px;
}

nav input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

nav button[type="submit"] {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #ddd;
  margin-left: -5px;
}

nav button[type="submit"]:hover {
  background-color: #bbb;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.logonav {
  height: 70px;
  border-radius: 10px 10px 10px;
}

.loginnav {
  border-radius: 80%;
  height: 40px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: flex;
}

.susnav {
  border-radius: 80%;
  height: 40px;
  color: black;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fin estylo navbar*/




/* inicio estylos footer*/
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 1);
}

.logoFooter {
  margin-top: 3rem;
  width: 40%;
  height: 50%;
  border-radius: 10%;

}


.icom{
  justify-content: center;
}

.iconfooter {
  margin: 8px;
  
}



/* fin estylos footer*/

/* stylo filtro */

.filtro {
  gap: 10px;
  padding: 0%;
}

.tituFil.tituSub {
  margin-bottom: 5%;
  font-weight: bolder;
}

.filtro-container {
  margin-top: 10%;

}

.tituSube {
  margin-top: 10%;
}

.botonFil {
  margin-top: 4%;
  border-radius: 5px;
  background-color: #263e3e;
  border-color: #263e3e;
  color: white;
  height: 80%;
  font-weight: 600;
  font-size: 15px;
}
.selB{
  margin-top: 4%;
  border-radius: 5px;
  background-color: #263e3e;
  border-color: #263e3e;
  color: white;
  height: 80%;
  font-weight: 600;
  font-size: 15px;
  

}
/* fin stylo filtro */


.btn-wsp{
  position:fixed;
  width:60px;
  height:65px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:30px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
}
}


.btn-carrito{
  position:fixed;
  width:60px;
  height:65px;
  line-height: 63px;
  bottom:93px;
  right:25px;
  background:#000000;
  color:#FFF;
  border-radius:30px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-carrito:hover{
  background: #5c5b5b;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-carrito{
      width:63px;
      height:63px;
      line-height: 66px;
}
}