* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  
  /* Sections */
  
  .section-1 {
    margin-bottom: 0; /* Elimina el margen inferior */
  }
  
  .section-2 {
    margin-top: 0; /* Elimina el margen superior */
  }
  
  .section-4{
    padding: 0px;
  }
  
  .section-5{
    padding: 50px;
  }


  .masthead{
    background-size: cover;
    min-height: 88vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    animation: animate 18s infinite;
  }

  @keyframes animate {
  
    33% {
      background-image: url(img/fondo-3.jpg);
      background-size: cover;
      
    }
  
    66% {
      background-image: url(img/fondo-2.jpg);
      background-size: cover;
  
    }
  
    100% {
      background-image: url(img/fondo-1.jpg);
      background-size: cover;
      /* transform: scale(1.1); */
  
    }
  }
  


  h1{
    font-size: 4rem;
  }

  .color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
  }

  @media (max-width: 768px) {
    .masthead {
        min-height: 30vh;
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
    }
  }

  
  /* Fin Sections */
  
  /* Comienzo del navbar transparente */
  
  /* Slider automático */
  
  
  

  
  .main-heading {
    position: absolute;
    top: 40%;
    left: 20px; 
    transform: translate(0, -50%);
    z-index: 1;
    font-size: 50px; 
    font-weight: bold;
    color: #fff;
    text-align: left; /* Ajusta el alineamiento del texto a la izquierda */
    line-height: 1.2; /* Ajusta el espaciado entre líneas según tus preferencias */
    max-width: 80%; /* Ajusta el ancho máximo del contenedor según tus preferencias */
    display: inline-block; /* Permite que el texto se divida en múltiples líneas */
    word-wrap: break-word; /* Permite que las palabras se dividan en líneas si es necesario */
  }
  
 
  
  
  
  

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
  }
  
  .navbar .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .navbar-brand .logonav {
    max-height: 80px;
    width: auto;
  }
  
  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  
  .loginnav {
    color: #fff;
    background-color: transparent;
    border: none;
  }
  
  .loginnav:hover {
    color: #fff;
  }
  
  
  
  /* Fin del navbar transparente */

  