*{
    margin: 0;
}
body{
    font-family: 'Roboto', 'Sans serif';
    display: flex;
    background: linear-gradient(to right, #985100, #000002);
}

.bg_animate{
    width: 100%;
    height: 100%;
     background: linear-gradient(to right, #985100, #000002);
    position: relative;
    overflow: hidden;
}

 .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.banner_title h2{
    color: #000002;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
    align-items: center;
    
}

.banner_img img{
    width: 400px;
    display: flex;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.burbuja{
    border-radius: 50%;
    background: #fca504;
    opacity: 0.3;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

.rotating-text {
    animation: rotate 7s infinite linear;
    margin-top: 100px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}
.Erropag{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin: 10px;
}
.btn{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 10px;
    text-indent: 10px;
    z-index: 2;
}
.btn-3{
    transition: all 0.6s ease;
}


.btn-3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #cc7503;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn-3:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(240px);
}

.btn-3:hover::before{
    background-color: #cc5d03;
    border: 3px solid #000000;
    transform: skew(20deg, 0deg) scale(1.1);
}
