* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
  background-color: black;
  overflow: hidden;
}

.hambur {
  background-color: white;
  margin-left: 130px;
}

nav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav form {
  display: flex;
  align-items: end;
  margin-top: 8px;
  margin-right: 16px;
  justify-content: center;
}

nav forma {
  display: flex;
  margin-top: 8px;
  margin-right: 16px;
}


nav input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
}

nav button[type="submit"] {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #ddd;
  margin-left: -5px;
}

nav button[type="submit"]:hover {
  background-color: #bbb;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.logonav {
  height: 70px;
  border-radius: 10px 10px 10px;
}

.loginnav {
  border-radius: 80%;
  height: 40px;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.susnav {
  border-radius: 80%;
  height: 40px;
  color: black;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadrado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow: 1px 1px 4px 4px black;
}

.conte {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contenido {
  margin: 1%;

}

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoenvios {
  text-align: center;

}

.textoenvioss {
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  text-align: center;
  display: flex;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

.containerimg {
  width: 350px;
  height: 350px;
  border-radius: 1rem;
  box-shadow: 2px 1px 15px -1px black;
  display: flex;
  margin: 1rem;
  position: relative;

}

.containerimg img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.containerimg img:hover {
  transform: scale(1.1);
}

footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 1);
}

.logoFooter {
  margin-top: 3rem;
  width: 40%;
  height: 50%;
  border-radius: 10%;

}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconfooter {
  margin: 8px;
}

.slider {
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 40px;
}

.slider .slide-track {
  display: flex;
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  width: calc(200px * 20);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;


}

@keyframes scroll { 
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 10));
    transform: translateX(calc(-200px * 10));
  }
}


.contenedore{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.btn{
  position: relative;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  text-indent: 10px;
  z-index: 2;
}
.btn-3{
transition: all 0.6s ease;
}

.btn-3::after{
content: "";
position: absolute;
width: 10%;
height: 100%;
left: -10%;
top: 0;
transform: skew(20deg, 0deg);
background-color: #ffffff;
z-index: -1;
transition: all 0.4s ease;
}

.btn-3::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
transform: skew(20deg, 0deg);
border: 3px solid #cc7503;
transition: all 0.4s ease;
z-index: -1;
}

.btn-3:hover::after{
background-color: #ffffff31;
transform: skew(20deg, 0deg) translateX(240px);
}

.btn-3:hover::before{
background-color: #cc5d03;
border: 3px solid #000000;
transform: skew(20deg, 0deg) scale(1.1);
}
.cardsa{
text-decoration: none;
color: white;
}
.cardsa h2{font-size: 50px;}


/* inicio cards*/
.card-body .btn-success {
border-radius: 5px;
background-color: #263e3e;
border-color: none;

}

.card-body .btn-success:hover {
background-color: #ff8b66;
color: #263e3e;
font-weight: 600;
border: none;
font-size: 15px;
}

.card .card-title {
font-weight: 550;
font-size: 17px;
color: rgba(255, 126, 33, 1);
letter-spacing: 1px;
}

.cards-hovC:hover {
transition: 1.5s;
transform: scale(1.05);
}


.precioOrig {
padding-left: 25%;
margin-bottom: 10%;
font-size: 1.5rem;
font-weight: 400;
color: #263e3e;
}

.tituloCat {
justify-content: center;
display: flex;
margin-bottom: 5%;
margin-top: 5%;


}

/* fin cards*/

/* inicio estylos principal*/


.colorFondo {
background-color: #ededed;
}

.categoriFil a {
text-decoration: none;
color: black;


}

.cuadroPrec {
display: flex;
}

.min {
display: flex;
width: 90%;
}

.cuadroPre {
display: flex;
margin-top: 5%
}

.min {
font-weight: 600;
border: none;
font-size: 15px;
}
.btn-wsp{
position:fixed;
width:60px;
height:65px;
line-height: 63px;
bottom:25px;
right:25px;
background:#25d366;
color:#FFF;
border-radius:30px;
text-align:center;
font-size:35px;
box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
z-index:100;
transition: all 300ms ease;
}
.btn-wsp:hover{
background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
.btn-wsp{
    width:63px;
    height:63px;
    line-height: 66px;
}
}


.btn-carrito{
position:fixed;
width:60px;
height:65px;
line-height: 63px;
bottom:93px;
right:25px;
background:#000000;
color:#FFF;
border-radius:30px;
text-align:center;
font-size:35px;
box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
z-index:100;
transition: all 300ms ease;
}
.btn-carrito:hover{
background: #5c5b5b;
}
@media only screen and (min-width:320px) and (max-width:768px){
.btn-carrito{
    width:63px;
    height:63px;
    line-height: 66px;
}
}