body {
  margin: 0;
  padding: 0;
  background: url(https://www.tandemaventura.com.ar/imagenes/bici-turismo1.jpg)
    no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  width: 320px;
  height: 460px;
  top: 50%;
  left: 50%;
  padding: 70px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: rgba(120, 119, 123, 0.3);
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}

 .logo {
  margin-top: -3rem;
  width: 8rem;
  height: 8rem;
}
.login-box h1 {
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.login-box input[type="submit"] {
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  background-color: black;
  color: whitesmoke;
}
.container-modal a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.colorText {
  color: rgb(255, 255, 255);
}
